<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!--Ventaja de routerLink es que no recarga la página-->
        <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
            <a mat-button routerLink="/contact" routerLinkActive="active">Contacts</a>
        </nav>
        <span class="toolbar-spacer"></span>
        <a mat-raised-button [matBadge]="total$ | async" matBadgeColor="accent" routerLink="order">
            <mat-icon aria-hidden="false" aria-label="Carrito de compras">shopping_cart</mat-icon>
            Carrito
        </a>
        <button mat-icon-button aria-label="Login" routerLink="/login" routerLinkActive="active">
            <mat-icon>face</mat-icon>
        </button>
    </mat-toolbar-row>

</mat-toolbar>