<div *ngIf="product">
    <div>
        <img [src]="product.image" width="100%">
    </div>
    <div>
        <ul>
            <li>T&iacute;tulo: {{product.title}}</li>
            <li>Precio: {{product.price | currency}} </li>
        </ul>
        <p>
            Descripci&oacute;n: {{product.description}}
        </p>
    </div>
    <button (click)="createProduct()">Crear</button>
    <button (click)="updateProduct()">Actualizar</button>
    <button (click)="deleteProduct()">Delete</button>
</div>