h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.alineacion-dispositivo {
    margin: 3rem;
}
.testbox {
    padding: 10px;
    height: 100%;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    border: solid 1px #cbc9c9;
}
.form-contenedor {
    padding-left: 25px;
    padding-right: 25px;
}
.ancho {
    width: 100%;
}
.botones-centrar {
    text-align: center;
}
.botones-centrar > button {
    margin: 0 5px 0 5px;
}

@media (min-width: 600px) {
    .testbox {
        padding: 10px;
        width: 343px;
        height: 100%;
        -webkit-border-radius: 8px/7px;
        -moz-border-radius: 8px/7px;
        border-radius: 8px/7px;
        background-color: #ebebeb;
        -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
        border: solid 1px #cbc9c9;
    }  
}

@media (min-width: 1080px) {
    .testbox {
        padding: 10px;
        width: 343px;
        height: 100%;
        -webkit-border-radius: 8px/7px;
        -moz-border-radius: 8px/7px;
        border-radius: 8px/7px;
        background-color: #ebebeb;
        -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
        border: solid 1px #cbc9c9;
    }
}
