<div class="container">
    <div class="alineacion-dispositivo">
        <div class="testbox">
            <h1>Formulario de contacto</h1>
            
            <form class="form-contenedor">
                <mat-form-field class="ancho">
                    <mat-label>Nombres</mat-label>
                    <input matInput type="text" >
                </mat-form-field>
                <mat-form-field class="ancho">
                    <mat-label>Correo</mat-label>
                    <input matInput type="email">
                </mat-form-field>
                <mat-form-field class="ancho">
                    <mat-label>Tel&eacute;fono</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="ancho">
                    <mat-label>Nombres</mat-label>
                    <textarea matInput placeholder="Comentarios" rows="5"></textarea>
                </mat-form-field>
                <p class="botones-centrar">
                    <button mat-raised-button type="reset">Limpiar</button>
                    <button mat-raised-button color="primary" type="submit">Enviar</button>
                </p>
            </form>
            
            
        </div>
        

    </div>
</div>